@import "open-props/postcss/style";
@import "open-props/normalize";
@import "open-props/theme.light.switch.min.css";
@import "open-props/theme.dark.switch.min.css";

:root {
  --brand: var(--blue-8);
}

* {
  scroll-behavior: smooth;
}

.h-screen {
  height: 100dvh;
}

.typewriter, .mark {
  color: var(--brand);
  display: inline-block;
  position: relative;
}

.typewriter:not(:empty)::after {
  content: '|';
  position: absolute;
  right: -0.2em;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

.groups {
  margin-top: var(--size-3);
  display: flex;
  gap: var(--size-3);
  flex-wrap: wrap;
}

.role {
  font-size: var(--size-fluid-1);
  padding: var(--size-1) var(--size-2);
  background-color: var(--brand);
  border-radius: var(--radius-2);
  margin-left: var(--size-2);
  color: var(--gray-3);
  font-weight: var(--font-weight-5);
  float: right;
}

hr {
  margin-block: var(--size-fluid-1);
}